
<div class="col-md-12 col-md-offset-6 col-sm-14 col-sm-offset-5">

  <h2 class="center-text">People <a class="pull-right btn btn-success glyphicon glyphicon-plus" href="/person/new" title="Add new person"></a></h2>
  
  <article ng-repeat="person in people track by person.id" class="panel panel-default">
    <div class="panel-heading">
      <h4>
        <a href="/person/{{person.id}}">
          <span>{{person.firstName}}</span>
          <span ng-if="person.lastName && person.lastName.length">{{person.lastName}}</span>
        </a>
        <a ng-click="deletePerson(person)" class="btn btn-danger btn-xs pull-right glyphicon glyphicon-trash" title="Delete"></a>
        <a ng-click="editPerson(person)" class="btn btn-default btn-xs pull-right glyphicon glyphicon-pencil" title="Edit"></a>
      </h4>
    </div>
    <div class="panel-body">
      <label><h5>Categories:</h5></label> {{ person.categoryNames.join(', ') }}
      
      <hr>
      
      <label><h5>Notes:</h5></label>
      <p>{{person.notes}}</p>
    </div>
  </article>

</div>
