<div class="container" ng-app="AddressApp">
  <h1>Address Book Appliance for Interweb</h1>
  <nav class="navbar navbar-default">
    <label><h2><a href="/person">People</a></h2></label>
    <label><h2><a href="/category">Categories</a></h2></label>
    <label><h2><a href="/about">About</a></h2></label>
  </nav>
  
  <ng-view></ng-view>
</div>
